<div class="container">
  <div class="welcome_screen">

    
    <div class="welcome_screen_header">
    	<h1>Welcome to Restaurant Peek!</h1>
    </div> <!-- class welcome_screen_header -->

    <div class="welcome_screen_sign_in">
      <a href="/users/<%= "#{@user_id}" %>">Sign In<a>
    </div> <!-- class welcome_sign_in -->

  </div> <!-- class welcome_screen -->


  <div class="restaurant_screen">
    <div class="restaurant_screen_header">
      <h1>
        Welcome Back, <%= @user.name %>!
      </h1>
    </div> <!-- class restaurant screen header -->
    <div class="restaurant_screen_description">
      <h3>Here are your selected restaurants:</h3>
    </div> <!-- class restaurant screen description -->
  

   <div class="restaurant_list">
      <ul>
        <% @user.restaurants.each do |restaurant| %>
        <div class="restaurant_list_item">
          <li>
            <h3><%= restaurant.name %></h3><br>
            <form class="show_special">
              <input class="show_special" type="submit" value="Show special">
            </form>
            <h4 class="restaurant_special"></h4>
            <form class="send_text">
              <input class="send_text" type="submit" value="Send me a text">
            </form>

          </li> <br>
        </div> <!-- class restaurant_list_item -->
        <% end %>

      </ul>


    </div> <!-- class restaurant_list -->

    
  </div> <!-- class restaurant_screen -->

</div> <!-- class container -->