<h2>Here are your restaurants</h2>

<ul>
  <% @user.restaurants.each do |restaurant| %>
   
  <li>
    <%= restaurant.name %> <br>
    <a href="/users/<%= @user.id %>/restaurants/<%= restaurant.id %>">Select this restaurant</a>
  </li> <br>

  <% end %>


</ul>
